html {
  height: 100%;
}

body {
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: black;
}

.content {
  height: calc(100vh - 100px);
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  color: #eaeaea;
}

.logo img {
  margin-top: 20px;
  max-width: 600px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}

.date {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  padding: 5px;
}

.location {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  text-decoration: none;
  color: #eaeaea;
  transition: 0.5s ease;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
}

.sponsor {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 20px;
  padding: 15px;
  text-decoration: none;
  color: #eaeaea;
  transition: 0.5s ease;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
}

a.sponsor:hover {
  text-decoration: underline;
}

@media (max-width: 620px) {
  .content {
    background: rgba(0, 0, 0, 0.75);
  }

  .logo img {
    max-width: 300px;
  }

  .title {
    font-size: 24px;
  }

  .date {
    font-size: 20px;
  }

  .location {
    font-size: 18px;
  }
}
