.social-container {
  margin: 10px;
  padding: 25px 25px;
}

a.social-link {
  color: white;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social-link:hover {
  transform: scale(2);
}
